//
h1 {
  font-size: 36px;
  font-weight: 900;
}
h2 {
  font-size: 30px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 500;
}
p {
  font-size: 18px;
}


a {
  color: $color-primary;
  opacity: 0.9;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
    opacity: 1;
  }
}


// Main Body 
.main-content-display {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  .introduction-section {
    text-align: center;
    padding: 0px;
    color: #fff;
    padding: 19px 40px 5px 40px;
    margin-bottom: 30px;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }

  .main-project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
}
